@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

:root{
    --cor0:#17A69C;
    --cor1:#19B07B;
    --cor2:#1D984A;
    --cor3:#19B025;
    --cor4:#3AA617;
}

body{
    background-image: linear-gradient(to right, var(--cor3), var(--cor0) );
    text-decoration: none;
}

p{
    text-indent: 30px;
    line-height:  1.5em;
    text-align: justify;
}

header{
    
    color: white;
    text-align: center;
    padding-top: 10px;   
}

header > h1{font-size: 4.2em;
    color: #1D984A;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
    font-family: Creepster;
    font-weight: normal; 
}

header > p{
    padding: 8px 5px 15px 5px ;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

header > nav{
    padding-bottom: 8px;
    background-color:var(--cor5);
    color: rgb(54, 68, 129);
    font-family:'Nunito Sans' ;
    font-weight: bold;   
}

header> nav > a{
    color: black;
    text-align: center;
    padding:2px ;
    font-weight: bold;
    font-family: Verdana ;
}
header >nav > a:hover{
    background-color: var(--cor2);
    text-decoration: underline;  
    border-radius: 10px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}

main a {
    padding: 4px;
    font-weight: bold;
}

main a:hover{
    text-decoration: underline;
    background-color: #17A69C;
}

main h1{padding-bottom: 8px;
    font-size: 2.4em;
    font-family: Raleway;
    margin: 15px;
    color: var(--cor0);
    text-align: center;
}

main h2{
    margin: 10px 0px 10px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right, var(--cor2), transparent );
    text-align: center;
}

main h3{
    font-size: 1.4em;
    text-align: center;
    margin: 15px;
}

main p{
    text-align: justify;
    text-indent: 45px;
    line-height:  1.8em;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0px;
}

main img{
    width: 100%;
}

.botao{
    padding: 18px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-family: 'Nunito Sans';
    font-weight: bolder;
    border-radius: 12px;   
    display: block;
    margin: auto;
}
.botao a{
    color:black;
}

.botao:hover{
    background-color: var(--cor4);
}
.botao a:hover{
    background-color: transparent;
    text-decoration: underline; 
    color:white;
}

footer{
    background-color: #2f831352;
}
footer a{
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

footer > a:hover{
    text-decoration: underline;
}

footer p{
        color: white;
        font-size: 14px;
        font-weight: bolder;
        font-family:  'Arial Narrow Bold', sans-serif;
        text-align: center;
        padding: 5px;
        margin-top: 30px;
        
}